*.exe
*.o
.vscode
build/Release/*
build/Debug/*
build/*
thirdParty/MSVC
thirdParty/x86
thirdParty/x64
thirdParty/temp
Implement/*.Deactivated
*/*.rpk
*/RadiPako.*
myProject/
myProject/*

